sudo: required

language: node_js
node_js:
  - "8"

services:
  - docker

install:
  - npm install --dev
  - npm install travis-ecs-deploy -g

script:
  - echo "Installing requests"
  - pip install requests[security]
  - yarn lint

deploy:
  skip_cleanup: true
  provider: script
  script:
    - yarn run travis-ecs-deploy
  on:
    all_branches: true
